.textColor{
    color: black;
}
.buttonColor{
    background-color:#fb007a ;
}
.textColor:hover{
    background-color: transparent;
    color:#fb007a;
}
.img-h {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    }
     
.img-h:hover {
    transform: scale(1.2,1.);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    }
.img-border{
    width: 330.75px;
    height: 220.27px;
    position: relative;
}
.blog-date{
    height: 30px;
    width: 50px;

}