*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ourTeacher{
    padding: 50px 0 100px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(http://codestar.xyz/demo/Education/education/assets/img/testimonial-bg.jpg);
    overflow: hidden;
}
.teacher-heading{
    color: white;
}
.swiper-container {
    width: 70%;
    height: 50%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-right: 4px solid #ff0383;
    padding: 30px 20px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: flex-start;
  }
  .swiper-box{

  }
  h4{
    color: rgba(255, 0, 122, 1);
  }
  .border-radius{
      border-radius: 50%;
  }
  @media only screen and (max-width: 670px) {
    .swiper-container{
      width: 80%;
    }
  }